html, body {
    height: 100%;
}

a:hover {
    font-size: medium;
}

.fill-width {
    width: 100%;
}

.fill_height {
    height: 100%;
}

.main_up {
    height: 110px;
}

.main_down {
    width: 100%;
    height: 100%;
    padding-top: 110px;
}

.title_up {
    height: 70px;
}

.title_down {
    height: 38px;
}

.left_up {
    height: 32px;
    min-width: 160px;
    position: absolute;
}

.left_down {
    height: 100%;
    padding-top: 40px;
}

.right_up {
    color: #ffffff;
    position: absolute; /*公共*/
    top: 0px;
    width: 100%;
    height: 32px;
}

.right_middle {
    position: absolute; /*FF IE7 SF*/
    top: 32px;
    bottom: 200px;
    _position: relative; /**IE6***/
    _top: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    _height: 100%;
}

.right_down {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 189px;
}

.no_margin_padding {
    padding: 0;
    margin: 0;
}

.border {
    border-color: red;
    border-style: solid;
    border-width: thin;
}

.alarm_background {
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    z-index: 1032;
    opacity: 0.5;
}

.alarm_content {
    width: 360px;
    height: 240px;
    left: 50%;
    margin: -170px 0 0 -180px;
    position: absolute;
    top: 50%;
    z-index: 1033;
}

.input_background {
    width: 400px;
    position: absolute;
    z-index: 1031;
    background-color: #ffffff;
}

/*pre {*/
/*background-color: ghostwhite;*/
/*border: 1px solid silver;*/
/*padding: 10px 20px;*/
/*margin: 20px;*/
/*}*/

/*.json-key {*/
/*color: brown;*/
/*}*/

/*.json-value {*/
/*color: navy;*/
/*}*/

/*.json-string {*/
/*color: olive;*/
/*}*/
