html, body {
    height: 100%;
}

a:hover {
    font-size: medium;
}

.fill-width {
    width: 100%;
}

.fill_height {
    height: 100%;
}

.main_up {
    height: 110px;
}

.main_down {
    width: 100%;
    height: 100%;
    padding-top: 110px;
}

.title_up {
    height: 70px;
}

.title_down {
    height: 38px;
}

.left_up {
    height: 32px;
    min-width: 160px;
    position: absolute;
}

.left_down {
    height: 100%;
    padding-top: 40px;
}

.right_up {
    color: #ffffff;
    position: absolute; /*公共*/
    top: 0px;
    width: 100%;
    height: 32px;
}

.right_middle {
    position: absolute; /*FF IE7 SF*/
    top: 32px;
    bottom: 200px;
    _position: relative; /**IE6***/
    _top: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    _height: 100%;
}

.right_down {
    position: absolute; /*公共*/
    bottom: 0;
    width: 100%;
    height: 189px;
}

.no_maring_padding {
    padding: 0;
    margin: 0;
}

.border {
    border-color: #000000;
    border-style: solid;
    border-width: thin;
}
