<div class="row title_up">
    <h2>&nbsp;Corn&nbsp;
        <small></small>
    </h2>
</div>
<div class="row title_down">
    <div class="form-inline">
        <label for="chooseCollection" class="control-label">选择连接：</label>
        <select class="form-control input-sm" id="chooseCollection" ng-model="collection"
                ng-change="change(collection,db)" ng-options="c for c in collections"></select>
        <label for="chooseDB" class="control-label">选择库：</label>
        <select class="form-control input-sm" id="chooseDB" ng-model="db" ng-change="change(collection,db)"
                ng-options="d for d in dbs"></select>
        <button name="new" class="btn btn-primary" ng-click="redirect('/input/')">新建连接</button>
    </div>
</div>