<div class="input_background fill_height fill-width">
    <form class="form-horizontal input_content" ng-submit="new_redis(redis)">
        <div class="form-group">
            <label for="name" class="col-xs-3 control-label">连接名称：</label>

            <div class="col-xs-9">
                <input type="text" ng-model="redis.name" class="form-control" id="name">
            </div>
        </div>
        <div class="form-group">
            <label for="ip" class="col-xs-3 control-label">服务地址：</label>

            <div class="col-xs-9">
                <input type="text" ng-model="redis.ip" class="form-control" id="ip">
            </div>
        </div>
        <div class="form-group">
            <label for="port" class="col-xs-3 control-label">端口：</label>

            <div class="col-xs-9">
                <input type="text" ng-model="redis.port" class="form-control" id="port">
            </div>
        </div>
        <div class="form-group">
            <label for="db" class="col-xs-3 control-label">默认库：</label>

            <div class="col-xs-9">
                <input type="text" ng-model="redis.db" class="form-control" id="db">
            </div>
        </div>
        <div class="form-group">
            <label for="time" class="col-xs-3 control-label">超时时间：</label>

            <div class="col-xs-9">
                <input type="text" ng-model="redis.time" class="form-control" id="time">
            </div>
        </div>
        <div class="form-group" style="text-align: center">
            <label for="btn" class="col-xs-3 control-label"></label>

            <div class="col-xs-9">
                <button id="btn" type="submit" class="btn btn-primary" style="width: 80px">
                    <span style="font-size: larger">确  认</span>
                </button>
                <button type="button" ng-click="closeInput()" class="btn btn-primary" style="width: 80px">
                    <span style="font-size: larger">取  消</span>
                </button>
            </div>
        </div>
    </form>
</div>