<div class="row">
    <div class="col-md-12">
        这里是工具栏
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
            <tr>
                <td>数据类型:</td>
            </tr>
            <tr>
                <td>{{type}}</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>数据值:</td>
            </tr>
            <tr>
                <td>{{ value }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Edit
        </div>
        <div class="panel-body"><textarea class="form-control" rows="5" style="resize: none"></textarea></div>
    </div>
</div>