<div class="row right_up">
    <div class="col-md-12 fill">
        这里是工具栏这里是工具栏这里是工具栏这里是工具栏这里是工具栏这里是工具栏这里是工具栏这里是工具栏这里是工具栏这里
    </div>
</div>
<div class="row right_middle">
    <div class="col-md-12 fill">
        <table>
            <thead>
            <tr>
                <td>数据类型:</td>
            </tr>
            <tr>
                <td>&nbsp;{{type}}</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>数据值:</td>
            </tr>
            <tr>
                <td style="word-break: break-all"><p class="lead">&nbsp;{{ value }}</p></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row right_down">
    <div class="panel panel-primary no_maring_padding">
        <div class="panel-heading">
            Edit
        </div>
        <div class="panel-body"><textarea class="form-control fill" rows="5" style="resize: none"></textarea></div>
    </div>
</div>