<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/img/favicon.png" rel="shortcut icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Redis Explorer</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/adminlte/skins/skins.css">
    <link rel="stylesheet" href="/static/css/iCheck/green.css">
    <link rel="stylesheet" href="/static/css/select2/select2.min.css">
    <link rel="stylesheet" href="/static/css/adminlte/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/css/corn.css">
</head>
<body class="skin-purple sidebar-mini">
<div class="wrapper" style="height: auto;min-height: 100%;" id="app"></div>
</body>
</html>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/iCheck/icheck.min.js"></script>
<script src="/static/js/select2/select2.full.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.js"></script>
<script src="/static/js/adminlte/adminlte.min.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/pretty_json.js"></script>