<!DOCTYPE html>
<html ng-app="redisExplorer">
<head lang="en">
    <meta charset="UTF-8">
    <title>Redis-Explorer</title>
    <script src="/static/js/angular.js"></script>
    <script src="/static/js/corn_controllers.js"></script>
    <link href="/static/css/corn.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="collection">

</div>
<div id="key" style="width:240px;height:600px;float:left;overflow-x: hidden;overflow-y:scroll"
     ng-controller="keyController">
    <div ng-include="'/static/views/keys.html'"></div>
</div>
<div id="value" style="float:left">
</div>
</body>
</html>