<!DOCTYPE html>
<html ng-app="redisExplorer">
<head lang="en">
    <meta http-equiv="Content-Type" content="application/json;charset=UTF-8"/>
    <title>Redis-Explorer</title>
</head>
<body class="container-fluid fill_height" ng-controller="parentCtr">
<div ng-show="alarm" ng-include="'/static/views/alarm.html'"></div>
<div ng-show="noCollection" ng-include="'/static/views/input.html'"></div>
<nav class="navbar navbar-fixed-top">
    <div class="col-md-12 main_up fill_height" ng-controller="colCtrl"
         ng-include="'/static/views/collection.html'"></div>
</nav>
<div class="row main_down">
    <div class="col-md-2 fill_height" ng-controller="keyCtrl" ng-include="'/static/views/keys.html'"></div>
    <div class="col-md-10 fill_height" ng-controller="valueCtrl" ng-include="'/static/views/value.html'"></div>
</div>
<link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="/static/css/corn.css" type="text/css" rel="stylesheet">
<script src="/static/js/angular.js"></script>
<script src="/static/js/corn_controllers.js"></script>
</body>
</html>